<div class="booking-header shadow-sm navbar navbar-expand-md sticky-top">
  <div class="container">
    <div class="container-group">
      <span>Find your perfect stay! </span>
      <input
        type="text"
        id="start-date"
        class="flatpickr"
        placeholder="From..."
      />
      <input type="text" id="end-date" class="flatpickr" placeholder="To..." />
      <input class="booking-header-button" type="button" value="Book Now" />
    </div>
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    flatpickr("#start-date", {});
    flatpickr("#end-date", {});
  });
</script>
