@import "global.css";

.booking-header {
	background-color: white;
	font: var(--body-font);
}

#start-date,
#end-date {
	background-image: url("/assets/svg-icons/calendar.svg");
	background-repeat: no-repeat;
	background-position: right 10px center;
	padding-right: 30px;
	border: solid 1px var(--base);
	padding: 5px;
	margin: 5px;
	border-radius: 2px;
	font-weight: 300 !important;
}

#start-date:focus,
#end-date:focus {
	outline: solid 2px var(--base);
}

.booking-header-button {
	padding: 5px;
	margin: 5px;
	width: 100px;
	border: solid 1px transparent;
	border-radius: 2px;
	background-color: var(--base);
	color: white;
	font-weight: 300 !important;
}

.booking-header-button:hover {
	padding: 5px;
	width: 100px;
	color: var(--base);
	border: solid 1px var(--base);
	border-radius: 2px;
	background-color: white;
}
