@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

:root {
	--base: #005961;
	--background: #edf6f9;
	--accent: #83c5be;
	--text: #3a3335;

	--heading-font: normal normal 500 2rem/1.2 "Playfair Display", serif;
	--subheading-font: normal normal 600 1rem/1.5 "Cormorant Garamond", serif;
	--body-font: normal normal 300 1rem/1.6 "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font: var(--heading-font) !important;
}

/* Alert Styling */

/* Common alert properties */
.alert:not(.p-4) {
	backdrop-filter: blur(3px);
	-webkit-backdrop-filter: blur(3px); /* Safari support */
}

/* Success alerts (green) */
.alert-success:not(.p-4) {
	color: rgb(46, 83, 54);
	background-color: rgb(144, 211, 160);
	border-color: rgb(46, 83, 54);
	border-left: 4px solid rgb(46, 83, 54);
}

/* Danger alerts (red) */
.alert-danger:not(.p-4) {
	color: rgb(114, 49, 53);
	background-color: rgb(223, 157, 161);
	border-color: rgb(114, 49, 53);
	border-left: 4px solid rgb(114, 49, 53);
}

/* Warning alerts (yellow) */
.alert-warning:not(.p-4) {
	color: rgb(132, 108, 54);
	background-color: rgb(221, 199, 150);
	border-color: rgb(132, 108, 54);
	border-left: 4px solid rgb(132, 108, 54);
}

/* Info alerts (blue) */
.alert-info:not(.p-4) {
	color: rgba(0, 89, 97, 1);
	background-color: rgb(192, 221, 230);
	border-color: rgba(0, 89, 97, 1);
	border-left: 4px solid rgba(0, 89, 97, 1);
}

/* Close button styling */
.btn-close {
	opacity: 0.8;
}

.btn-close:focus {
	box-shadow: 0 0 0 0.25rem rgba(0, 89, 97, 1);
}
