@import url("global.css");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/* Header */

.nav-hotel-name {
	font: var(--heading-font);
	text-decoration: none;
	white-space: nowrap;
	color: var(--base);
}

.header-nav {
	background-color: var(--background);
	border-bottom: 1px solid var(--accent);
}

.header-c {
	font-size: 0.55rem;
	vertical-align: super;
}

.mobile-menu-btn {
	/* Styles for the open button */
	background: none;
	border: none;
	transform: scale(1.8);
	padding-left: 0.5rem;
	color: var(--base);
	cursor: pointer;
}

.mobile-menu-close-btn {
	background: none;
	border: none;
	transform: scale(1.8);
	padding: 0.5rem 0.5rem 0.5rem 0.7rem;
	color: var(--base);
	cursor: pointer;
	position: fixed;
}

span.dropdown-header {
	font: var(--subheading-font) !important;
}

/* Mobile Side Menu */

.mobile-nav {
	position: fixed;
	overflow: hidden;
	top: 0;
	left: -310px;
	opacity: 0;
	width: 310px;
	padding: 0.5rem;
	height: 100vh;
	background-color: var(--background);
	z-index: 1000;
	transition: left 0.5s ease, opacity 0.5s ease;
}

.mobile-nav-head {
	border-bottom: solid 1px var(--accent);
	width: 310px;
	margin-left: -8px;
}

.mobile-nav li {
	border-bottom: solid 1px var(--accent);
}

/* https://pattern.monster/hexagon-8 */

.nav-gradient {
	width: 310px;
	margin-left: -8px;
	background-image: linear-gradient(
			to bottom,
			var(--background) 0%,
			transparent 35%
		),
		url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='40' height='69.282' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='%23edf6f9ff'/><path d='M13.333-3.849v23.094M6.667-15.396l20 11.547M13.333-19.245l20 11.547M20 0v23.094m20-34.641l-6.667 3.849-6.666 3.849L20 0M0-11.547l6.667 3.849 6.666 3.849L20 0m0-23.094l20 11.547v23.094L20 23.094l-6.667-3.849-6.666-3.849L0 11.547v-23.094l6.667-3.849 6.666-3.849zM40-3.769L20 7.698m20-3.849l-16.253 9.384L20 15.396M6.667-7.698v23.094m6.666 50.037v23.094M6.667 53.886l20 11.547M13.333 50.037l20 11.547M20 69.282v23.094m20-34.641l-6.667 3.849-6.666 3.849L20 69.282M0 57.735l6.667 3.849 6.666 3.849L20 69.282m0-23.094l20 11.547v23.094L20 92.376l-6.667-3.849-6.666-3.849L0 80.829V57.735l6.667-3.849 6.666-3.849zm20 19.325L20 76.98m20-3.849L20 84.678M6.667 61.584v23.094m26.666-53.886v23.094m-6.666-34.641l20 11.547M33.333 15.396l20 11.547M40 34.641v23.094m20-34.641l-6.667 3.849-6.666 3.849L40 34.641M20 23.094l6.667 3.849 6.666 3.849L40 34.641m0-23.094l20 11.547v23.094L40 57.735l-6.667-3.849-6.666-3.849L20 46.188V23.094l6.667-3.849 6.666-3.849zm20 19.325L40 42.339m20-3.849L40 50.037M26.667 26.943v23.094M-6.667 30.792v23.094m-6.666-34.641l20 11.547M-6.667 15.396l20 11.547M0 34.641v23.094m20-34.641l-6.667 3.849-6.666 3.849L0 34.641m-20-11.547l6.667 3.849 6.666 3.849L0 34.641m0-23.094l20 11.547v23.094L0 57.735l-6.667-3.849-6.666-3.849L-20 46.188V23.094l6.667-3.849 6.666-3.849zm20 19.325L0 42.339m20-3.849L0 50.037m-13.333-23.094v23.094'  stroke-width='1' stroke='%23ffffffff' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
}

.mobile-nav.show {
	opacity: 1;
	transition: left 0.5s ease, opacity 0.5s ease;
	left: 0px;
}

.mobile-nav ul {
	list-style: none;
	padding: 0;
}

.mobile-nav a {
	color: var(--text);
	text-decoration: none;
}

.menu-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(2px);
	-webkit-backdrop-filter: blur(2px); /* Safari support */
	z-index: 999;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s ease, visibility 0.3s ease;
}

.menu-overlay.show {
	opacity: 1;
	visibility: visible;
}

/* Hide mobile menu on larger screens */
@media (min-width: 768px) {
	.mobile-nav,
	.menu-overlay {
		display: none;
	}
}

/* Header */
