@import url("global.css");

body {
    min-height: 100dvh;
    padding: 0;
    margin: 0;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#main {
  position: relative;
}

#statics {
  position: fixed;
  top: 0;
  left: 0;
}

#left-content {
  padding-top: 12vh;
}

.anchor-offset {
  scroll-margin-top: 5rem;
}

#mini-nav {
  list-style-type: none;
}

#mini-nav > *, #contact > ul > *  {
  margin-bottom: 0.35rem;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}