@import url("global.css");

body {
    min-height: 100dvh;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#to-top {
  background-color: #006D77;
  transition: background-color 0.2s ease;
}

.anchor-offset {
  scroll-margin-top: 5rem;
}

#left, #right {
  height: 100vh;
}

#mini-nav > *  {
  margin-bottom: 0.75rem;
}

#content > ul > * {
  margin-bottom: 0.35rem;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
} 

#to-top:hover {
  background-color: #00a7b6;
  cursor: pointer;
}
