body {
    min-height: 100dvh;
    padding: 0;
    margin: 0;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#main {
position: relative;
}

#back-top-btn {
  position: absolute;
  top: 0;
  left: 0;
}