body {
    min-height: 100dvh;
    padding: 0;
    margin: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/hotelfront.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.flex-col-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-group {
    width: inherit;
    align-items: start;
    gap: 8px;
}

ul {
    padding-bottom:16px;
}

button {
    padding: 0;
    border: 0;
    background-color: inherit;
    font-style: italic;
}

#articles {
    list-style-type: none;
    padding-left: 0;
}

#articles > li {
    padding-top: 2rem;
}

#create-acc-form {
    position: relative;
    background-color: #f5f5f5;
}

/* Area surrounding the terms container */
#terms-and-cond {
    width: 100vw;
    height: 100dvh;
    position: absolute;
    top: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.1); /* dark semi-transparent bg */
    backdrop-filter: blur(3px);          /* the actual blur effect */
    -webkit-backdrop-filter: blur(3px);  /* for Safari */
    position: absolute;
    top: 0;

}

/* Terms container itself */
#terms-section {
    width: 50%;
    height: 50dvh;
    overflow-y: scroll;
    padding: 1.5rem;
    display: none;
    animation: fade-in 0.5s ease 0s 1 normal forwards;
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@media (max-width:740px) {
    #terms-section {
        width: 80%;
    }
}

button#hide-terms:hover {
    text-decoration: underline !important;
    transition: background-color 0.2s ease, stroke 0.2s ease;
}

svg#x-terms:hover {
    background-color: rgb(110, 0, 0);
    stroke: white;
    transition: background-color 0.2s ease, stroke 0.2s ease;
}