body {
    min-height: 100dvh;
    padding: 0;
    margin: 0;
}

.flex-col-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-group {
    width: inherit;
    align-items: start;
    gap: 8px;
}

ul {
    padding-bottom:16px;
}

button {
    padding: 0;
    border: 0;
    background-color: inherit;
    font-style: italic;
}

#articles {
    list-style-type: none;
    padding-left: 0;
}

#articles > li {
    padding-top: 2rem;
}

#create-acc-form {
    position: relative;
}

/* Area surrounding the terms container */
#terms-and-cond {
    width: 100vw;
    height: 100dvh;
    position: absolute;
    top: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.1); /* dark semi-transparent bg */
    backdrop-filter: blur(3px);          /* the actual blur effect */
    -webkit-backdrop-filter: blur(3px);  /* for Safari */
    position: absolute;
    top: 0;
}

/* Terms container itself */
#terms-section {
    width: 30%;
    height: 50dvh;
    overflow-y: scroll;
    padding: 1.5rem;
    display: none;
}

button#hide-terms:hover {
    text-decoration: underline !important;
}
