body {
    min-height: 100dvh;
    padding: 0;
    margin: 0;
}

.flex-col-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#login-form {
    width: 25vw;
}

.form-control {
    width: 85% !important;
}

.form-group {
    width: inherit;
    align-items: start;
    gap: 8px;
}

.fill {
    color: red;
}

ul {
    padding-bottom:16px;
}

#articles {
    list-style-type: none;
    padding-left: 0;
}

#articles > li {
    padding-top: 2rem;
}


#terms-and-cond {
    width: 100vw;
}

#terms-section {
    width: 30%;
    height: 75dvh;
    overflow-y:scroll;
    padding: 1.5rem;
    display: none;
}

button {
    padding: 0;
    border: 0;
    background-color: inherit;
    font-style: italic;
}
